### Testing application

In [1]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.4 pyspark-shell'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, window, max, min, avg
from pyspark.sql.functions import split
from pyspark.sql.types import StringType, FloatType, StructType, StructField, IntegerType, TimestampType
from pyspark.sql.functions import from_json, col, to_timestamp

In [3]:
# Create a spark session
spark = SparkSession.builder.appName("Twitter").getOrCreate()

In [4]:
# Define the timestamp format
timestampFormat = "E MMM dd HH:mm:ss +0000 yyyy"

# Define the schema of the incoming tweets
schema = (StructType()
  .add('created_at', TimestampType())
  .add('id_str', StringType())
  .add('text', StringType()))

In [5]:
# Read kafka stream and subscribe to twitter topic
df = (spark.readStream
          .format('kafka')
          .option('kafka.bootstrap.servers', 'kafka-1:9092')
          .option('startingOffsets', 'latest')
          .option('subscribe', 'twitter')
          .load()
          .select(col("key").cast("string"), \
                  from_json(col("value").cast("string"), schema, \
                  { "timestampFormat": timestampFormat }).alias("value")))

df.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: struct (nullable = true)
 |    |-- created_at: timestamp (nullable = true)
 |    |-- id_str: string (nullable = true)
 |    |-- text: string (nullable = true)

In [6]:
tweets = df.select("value.*")
tweets.printSchema()

root
 |-- created_at: timestamp (nullable = true)
 |-- id_str: string (nullable = true)
 |-- text: string (nullable = true)

In [7]:
raw_df = (tweets
         .writeStream
         .queryName("tweets")
         .format("memory")
         .start())

In [60]:
raw = spark.sql("select * from tweets order by created_at desc")
raw.show()

+-------------------+-------------------+--------------------+
|         created_at|             id_str|                text|
+-------------------+-------------------+--------------------+
|2019-10-23 15:54:51|1187034660943073281|RT @SebGorka: The...|
|2019-10-23 15:54:50|1187034655351922695|Thank you Jill!! ...|
|2019-10-23 15:54:49|1187034649941307397|RT @sweetnpeachie...|
|2019-10-23 15:54:49|1187034649006088192|Heat basketball t...|
|2019-10-23 15:54:45|1187034632643956737|Khimky Podmoskovi...|
|2019-10-23 15:54:44|1187034630391681026|RT @go_seahorses:...|
|2019-10-23 15:54:44|1187034629582155776|Three things to w...|
|2019-10-23 15:54:42|1187034622615588865|RT @ParkPirates: ...|
|2019-10-23 15:54:42|1187034621260816385|Whoop, whoop, Go ...|
|2019-10-23 15:54:41|1187034618958110721|RT @karlita_papit...|
|2019-10-23 15:54:41|1187034616252768256|Oh, basketball is...|
|2019-10-23 15:54:41|1187034616210714625|RT @Reuters: Shaq...|
|2019-10-23 15:54:39|1187034607427809280|                  üèÄ|
|2019-10-23 15:54:39|1187034611026554880|             Lmfaooo|
|2019-10-23 15:54:38|1187034604076765184|RT @nctmarkarchiv...|
|2019-10-23 15:54:37|1187034600884842496|RT @LC_Bird_Hoops...|
|2019-10-23 15:54:36|1187034598103928837|RT @arturodraws: ...|
|2019-10-23 15:54:36|1187034597529391104|RT @retrokidshoop...|
|2019-10-23 15:54:36|1187034597688795137|RT @badgallrayray...|
|2019-10-23 15:54:35|1187034593062354946|CSKA II vs Samara...|
+-------------------+-------------------+--------------------+
only showing top 20 rows

In [70]:
# Get the count of tweets per 10 seconds
tweet_count_df = tweets.groupBy(window(tweets.created_at, '10 seconds')).count()

In [71]:
query = (tweet_count_df
        .writeStream
        .format("memory")
        .queryName("window_count")
        .outputMode("complete")
        .start())

In [88]:
raw = spark.sql("select * from window_count order by window desc")
raw.show()

+--------------------+-----+
|              window|count|
+--------------------+-----+
|[2019-10-23 16:05...|   21|
|[2019-10-23 16:05...|   15|
|[2019-10-23 16:05...|   11|
|[2019-10-23 16:05...|   23|
|[2019-10-23 16:04...|   15|
|[2019-10-23 16:04...|   14|
|[2019-10-23 16:04...|   16|
|[2019-10-23 16:04...|   20|
|[2019-10-23 16:04...|   15|
|[2019-10-23 16:04...|   17|
|[2019-10-23 16:03...|   13|
|[2019-10-23 16:03...|   10|
|[2019-10-23 16:03...|   15|
|[2019-10-23 16:03...|   12|
|[2019-10-23 16:03...|    5|
|[2019-10-23 16:03...|   13|
|[2019-10-23 16:02...|   13|
|[2019-10-23 16:02...|   23|
|[2019-10-23 16:02...|   22|
|[2019-10-23 16:02...|   13|
+--------------------+-----+
only showing top 20 rows